<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>藥品搜尋</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="search-container">
        <h1>藥品搜尋</h1>
        <div class="input-group">
            <label for="searchValue">關鍵字：</label>
            <input type="text" id="searchValue" placeholder="輸入查詢值">
            <button id="searchBtn">搜尋</button>
        </div>
        <div class="input-group2">
            <input type="checkbox" id="hasImage">
            <label for="hasImage">僅顯示有圖片的藥品</label>
        </div>
    </div>
    <div id="errorContainer" class="error"></div>
    <div id="resultsWrapper" class="result-container" style="display: none;">
        <div id="resultContainer"></div>
        <div id="paginationContainer" class="pagination" style="display: none;">
            <button id="prevPageBtn">上一頁</button>
            <div class="page-select-container">
                <label for="pageSelect">頁數：</label>
                <select id="pageSelect"></select>
            </div>
            <button id="nextPageBtn">下一頁</button>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>